@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

.ff_inter {
    font-family: 'Inter', sans-serif;
}

.ff_manrope {
    font-family: "manrope";
}

.about_card_one {
    box-shadow: 0px 0px 40px 0px rgba(72, 68, 242, 0.08), 0px 0px 32px 0px rgba(72, 68, 242, 0.04) inset, 0px 0px 32px 0px rgba(255, 57, 57, 0.04) inset, -1px -1px 82px 2px rgba(255, 255, 255, 0.20);

}

.border-linear-footer {
    background: var(--gradient,
            linear-gradient(180deg, #ff3939 0%, #4844f2 100%));
}

.timeline::before {
    background-image: linear-gradient(to top, #e92121 50%, transparent 0%);
    background-position: 35px;
    background-size: 3px 30px;
}

input {
    font-family: "inter" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 170% !important;
    opacity: .9 !important;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

.text-linear {
    background: var(--prime, linear-gradient(102deg, #FF3939 -4.42%, #4844F2 103.64%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bglinear {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 4px 5px 65px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(30px);
}

.form_bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.60) 45.71%, rgba(255, 255, 255, 0.00) 100%);
}